body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 98%;
}
#in {
    width: 98vw;
    height: 83vh;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    white-space: nowrap;
    overflow-x: auto;
}
.func {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.func button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: auto;
}
.func button:hover {
    background-color: #0056b3;
}
.func button:last-child {
    margin-right: 0;
}

.route {
    display: flex;
    justify-content: flex-start;
    z-index: auto;
}

.route-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: green;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.route-button:hover {
    background-color: limegreen;
}

.route-button.selected {
    background-color: grey;
}
.footer {
    position: fixed;
    padding-top: 5px;
    bottom: 0;
    height: 3vh;
    width: 100vw;
    background-color: #f8f9fa;
    text-align: center;
    z-index: 1; /* 确保 footer 不遮盖主要内容 */
}

/*share and copy*/
.share-btn {
    display: none;
    margin-left: auto; /* 将按钮推到最右侧 */
    border-radius: 4px;
    transition: background-color 0.3s;
    opacity: 0.5;
}

.share-btn:hover {
    background-color: limegreen;
}

.theme-btn {
    display: inline-block;
    margin-left: auto; /* 将按钮推到最右侧 */
    border-radius: 4px;
    transition: background-color 0.3s;
    opacity: 0.5;
}