<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GTool</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/tools.css}" />
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/tools.js}"></script>
</head>
<body>
    <div class="container">
        <div class="route">
            <button class="route-button" th:each="route : ${routes}" th:text="${route.name}" th:value="${route.value}" onclick="route(this)"/>
        </div>
        <label for="in"></label><textarea placeholder="请输入内容" id="in" name="data"></textarea>
        <div class="func" id="ops">
            <button th:each="op : ${ops}" th:text="${op.name}" th:value="${op.op}" onclick="execute(this)"/>
        </div>
    </div>
    <script>
        $("#in").setTextareaCount({
            width: "30px",
            bgColor: "#999",
            color: "#FFF",
            display: "block"
        });
    </script>
</body>
</html>

